.container {
    display: grid;
    font-family: 'Roboto', sans-serif;
}
.container-content__form {
    display: grid;
    align-content: stretch;
}
.container-content__name {
    display: grid;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #333333;
}
.container-content__greeting {
    display: flex;
    flex-direction: row;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    margin-left: 5%;
}
.input-box__greeting {
    width: 15%;  
    font-size: 14px; 
    border: none;
    background-color:  #F3F3F3;
    margin: 5px;
}
.input-box, .message-box {
    display: grid;
    width: 80%;  
    height: 90%;
    font-size: 14px; 
    border: none;
    background-color:  #F3F3F3;
    margin: 20px;
    padding: 0 20px;
}
.message-box {
    display: grid;
    resize: none;  
    width: 40%;
    padding: 14px;
    font-family: 'Roboto', sans-serif;
}
.input-box-button {
    width: 15%;
    height: 42px;
    margin-top: 10%;
    margin-left: 5%;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    background: #2C2C2C;
    outline: none;
    border: none;
}
h4 {
    margin-left: 5%;
    padding-top: 15px;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}
